.standardContainer {
    margin-top: 550px;
    padding: 50px 0;
    margin-bottom: 200px;
  }
  
  .standardDiv{
    color: var(--colorText);;
    max-width: 900px;
    padding-top: 50px;
    margin: 0 auto;
  }
  
  .standardDiv h3 {
    padding-bottom: 100px;
    color: var(--main);
  }

  .imageHowITWorks {
    width: 50px;
    margin-bottom: 20px;
  }
  
  .descriptionDivFlex {
    display: flex;
    align-items: center;
    text-align: center;
  
  }