.mapGlobal {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 500px;
}

.mapItem {
    width: 1000px;
    height: 1000px;
    border-radius: 1%;
}

.layerTitleMap{
    display: flex;
    align-items: center;
}

.layerTitleInternal {
    padding-right: 20px;
}

.layerTitleAddressType {
    display: flex;
    align-items: center;
}

.layerTitleAddressType img{
    padding-right: 10px;
}

.layerTitleAddressType p{
    margin: 0;
}

.mapListDiv{
    display: flex;
}

.ListDiv{
    max-width: 100px;
    padding: 0 10px;
}

.searchNearButton {
    background-color: var(--main);
    color: white;
    position: absolute;
    right: 0;
    top: 0;
    width: 130px;
    height: 50px;
    z-index: 1000;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 10%;
}