.mapGlobal {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 500px;
}

.mapItem {
    width: 1000px;
    height: 1000px;
    border-radius: 1%;
}

.layerTitleMap{
    display: flex;
    align-items: center;
}

.layerTitleInternal {
    padding-right: 20px;
}

.layerTitleAddressType {
    display: flex;
    align-items: center;
}

.layerTitleAddressType img{
    padding-right: 10px;
}

.layerTitleAddressType p{
    margin: 0;
}

.mapListDiv{
    display: flex;
}

.ListDiv{
    max-width: 100px;
    padding: 0 10px;
}

.searchNearButtonMap{
    position: relative;
}

.searchNearButton {
    background-color: var(--main);
    color: white;
    position: absolute;
    right: 0;
    top: 0;
    width: 170px;
    height: 50px;
    z-index: 1000;
    padding: 5px 10px;
    margin: 10px 5px;
    cursor: pointer;
    border-radius: 5%;
    border: 1px solid var(--main);
}

.searchNearButton:hover {
    background-color: white;
    color:var(--main);
}

.navigationIcon {
    position: absolute;
    width: 17px;
    right: 154px;
    top:28px;
    z-index: 1001;
}


.legendGlobalDiv{
    background-color: white;
    color: var(--main);
    position: absolute;
    right: 0;
    top: 70px;
    width: auto;
    height: auto;
    z-index: 1000;
    padding: 10px;
}

.legendDivItems {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.imageLegend {
    width: 15px;
    padding: 0 10px;
}