.uploadGlobalForm{
  position: fixed;
  top: 12px;
  left: 60px;
  z-index: 500;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.enterTextForm {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.enterTextNumber {
  position: relative;
  height: auto;
  width: 100%;
  font-size: 18px;
  background: #fff;
  padding: 10px 15px;
  display: block;
  z-index: 1;
  height: 40px;
  line-height: 40px;
  color: var(--colorSmallText);
  font-weight: Light;
  border: none;
  border-radius: 5px 0px 0px 5px;
}

.enterTextNumber:focus {
  outline: none;
}

.formUploadButtons{
  /* display: flex;
  justify-content: flex-end; */
}


.divSearchMap {
  display: flex;
  justify-content: center;
}

.divIntroSearch {
  width: 100%;
  position: absolute;
  top: 315px;
}


.MainColor{
  background-color: white !important;
  color: var(--main);
  padding: 10px 5px !important;
  border-radius: 10px;
}



@media (max-width: 1400px) {
  .uploadGlobalForm {
    width: 80%;
  }

}

@media (max-width: 500px) {
  .uploadGlobalForm {
    width: 65%;
  }
}

