.uploadGlobalForm{
  position: fixed;
  top: 12px;
  left: 60px;
  z-index: 500;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.enterTextForm {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.enterTextNumber {
  position: relative;
  height: auto;
  width: 100%;
  font-size: 18px;
  background: #fff;
  padding: 10px 15px;
  display: block;
  z-index: 1;
  height: 40px;
  line-height: 40px;
  color: var(--colorSmallText);
  font-weight: Light;
  border: none;
  border-radius: 5px 0px 0px 5px;
}

.enterTextNumber:focus {
  outline: none;
}

.formUploadButtons{
  /* display: flex;
  justify-content: flex-end; */
}


.divSearchMap {
  display: flex;
  justify-content: center;
}

.divIntroSearch {
  width: 100%;
  position: absolute;
  top: 315px;
}


.MainColor{
  background-color: white !important;
  color: var(--main);
  padding: 20px 5px !important;
  border-radius: 10px;
  text-align: center;
  margin: 0 !important;
}


.greenColor{
  background-color: white !important;
  color: var(--greenMain);
  padding: 20px 5px !important;
  border-radius: 10px;
  text-align: center;
  margin: 0 !important;
}


.inputSearchFormCancelDiv{
 position: relative;
 width: 100%;
}

.cancelIcon{
  position: absolute;
  top: 19px;
  right: 10px;
  width: 24px;
  z-index: 501;
  cursor: pointer;
}

.cancelIcon:hover{
  opacity: 0.6;
}


@media (max-width: 1000px) {
  .uploadGlobalForm {
    width: 80%;
  }

}

@media (max-width: 500px) {
  .uploadGlobalForm {
    width: 65%;
  }
}

