.uploadGlobalForm{
  padding-top: 50px;
}

.enterTextForm {
  display: flex;
  flex-direction: row;
}

.enterTextNumber {
  position: relative;
  height: auto;
  width: 100%;
  font-size: 18px;
  background: #fff;
  padding: 10px 15px;
  display: block;
  z-index: 1;
  height: 40px;
  line-height: 40px;
  color: var(--colorSmallText);
  font-weight: Light;
  border: none;
  border-radius: 5px 0px 0px 5px;
}

.enterTextNumber:focus {
  outline: none;
}

.formUploadButtons{
  display: flex;
  justify-content: end;
}



